In [1]:
import sys
#import click
import numpy as np
import pandas as pd
import rpy2.robjects as ro
#from rpy2.rinterface import RRuntimeError
from rpy2.robjects import pandas2ri, Formula
from rpy2.robjects.conversion import localconverter
from rpy2.robjects.packages import importr
from statsmodels.stats.multitest import multipletests
from rpy2.robjects import pandas2ri

import os
os.environ['R_HOME'] = '/Library/Frameworks/R.framework/Resources/R'

In [2]:
!which R

/usr/local/bin/R

In [2]:
#Import R libraries
base = importr('base')
stats = importr('stats')
limma = importr('limma')
writexl = importr('writexl')
edgeR = importr('edgeR')

In [3]:
#data = data.set_index('ID') #replace 'ID' with your own annotation if necessary
design = pd.read_csv('../data/test_metadata.csv', index_col=0) #replace with your own design file
design = design.loc[:, ["condition"]] #remove first column
design

          condition
sample1           A
sample2           A
sample3           A
sample4           A
sample5           A
...             ...
sample96          B
sample97          B
sample98          B
sample99          B
sample100         B

[100 rows x 1 columns]

In [4]:
data =  pd.read_csv('../data/test_counts.csv', index_col=0)
#data = data.T #replace your own data file
data

,sample1,sample2,sample3,sample4,sample5,sample6,sample7,sample8,sample9,sample10,...,sample91,sample92,sample93,sample94,sample95,sample96,sample97,sample98,sample99,sample100
gene1,12,1,4,1,1,0,0,2,5,18,...,0,9,5,27,2,7,1,10,18,21
gene2,21,44,4,10,11,8,14,19,19,11,...,31,43,13,12,24,26,14,36,14,9
gene3,4,2,11,2,6,2,17,11,9,8,...,11,4,12,0,1,3,3,2,3,3
gene4,130,63,180,100,135,36,159,60,66,157,...,119,86,112,89,73,67,71,72,66,42
gene5,18,11,21,44,16,26,11,19,7,35,...,50,41,21,86,31,11,33,11,53,13
gene6,0,10,3,9,2,3,19,2,3,0,...,10,0,3,0,12,4,5,2,11,13
gene7,16,70,28,28,32,36,39,41,13,31,...,4,20,31,18,27,41,19,66,32,19
gene8,54,32,34,16,29,42,22,83,25,52,...,28,32,22,39,33,44,42,27,19,78
gene9,49,57,65,33,31,42,38,46,52,37,...,15,45,24,72,67,54,25,16,79,30
gene10,3,9,2,9,5,17,6,12,3,10,...,13,1,31,28,4,1,4,9,11,5

In [18]:
# Convert data and design pandas dataframes to R dataframes
with localconverter(ro.default_converter + pandas2ri.converter):
    r_data = ro.conversion.py2rpy(data)
    r_design = ro.conversion.py2rpy(design)
    # Use the genes index column from data as a R String Vector
    genes = ro.StrVector(
        [
            str(index)
            #added tovalues to convert to numpy array
            for index in data.index.tolist()
            #for index in data.index.tolist()
        ]
    )

In [100]:
print(r_data)

       sample1 sample2 sample3 sample4 sample5 sample6 sample7 sample8 sample9
gene1       12       1       4       1       1       0       0       2       5
gene2       21      44       4      10      11       8      14      19      19
gene3        4       2      11       2       6       2      17      11       9
gene4      130      63     180     100     135      36     159      60      66
gene5       18      11      21      44      16      26      11      19       7
gene6        0      10       3       9       2       3      19       2       3
gene7       16      70      28      28      32      36      39      41      13
gene8       54      32      34      16      29      42      22      83      25
gene9       49      57      65      33      31      42      38      46      52
gene10       3       9       2       9       5      17       6      12       3
       sample10 sample11 sample12 sample13 sample14 sample15 sample16 sample17
gene1        18        3        7        3       23        6       37        1
gene2        11       19       28        9       12       36       14       28
gene3         8       13        7        4        9       12        7       11
gene4       157      145       51      128       48      154       96      202
gene5        35        4       39       36       18       28       23       18
gene6         0        8        0        2        7        6        0       11
gene7        31       28       23       25       22        9       20       34
gene8        52       41       54       28       65        8       64       12
gene9        37        5       55       66       35       23       28       46
gene10       10        3       11        6       21        2       12        9
       sample18 sample19 sample20 sample21 sample22 sample23 sample24 sample25
gene1        26        5        1        3        6        2       17        1
gene2        11       19       18        9       14       23       21       18
gene3         3        0        5        1        1        5        1        3
gene4       136      267       66      110       61      118       71       73
gene5         5       51       46       10       12       32       22       46
gene6         1       18        2       12       11        8        0       14
gene7         8       47       26       41       18       13       47       14
gene8        44       52       62       62       26       21      128       56
gene9        54       31       62       52       36       35       38       53
gene10       11       12        8        5       22       16       15       10
       sample26 sample27 sample28 sample29 sample30 sample31 sample32 sample33
gene1        24        0        7        1        1       10        0        7
gene2        22       22       18       15       40       31       37       12
gene3         1       20        7        8        0        2        0        5
gene4       201      157      119      114      140      205       94       73
gene5         4       14       58       14       18       15       42       16
gene6         2        5       20        0        2       14        2        3
gene7        25       19       16       18       18       16       35       28
gene8       100       68       22       75       41       74       94       34
gene9        25       29       14       35       51       55       40       74
gene10        6        7       23       17        2        0       10       38
       sample34 sample35 sample36 sample37 sample38 sample39 sample40 sample41
gene1         4        3        2        5        0        3       13        1
gene2         8        7       13       16       13       28       25       22
gene3         3        8        3        5       14        1       13       11
gene4        81      324      110      304      113      146      110      131
gene5        27       33       51       35       40       28       17       14
gene6         2        4        4        3       12        3        2        3
gene7        39       30       15       53       15       45       21       11
gene8        17       82       48       56       65       36       59       41
gene9        84       28       33       75       34       65       33       12
gene10        7        7        7       31       13       10        9        0
       sample42 sample43 sample44 sample45 sample46 sample47 sample48 sample49
gene1         7        3       21        1        0       10        3       15
gene2        13       30       13        5       12       21       21       25
gene3         7        4        7        6        0       11        2        6
gene4        70      178      161      145       39       88      178       63
gene5        12       29       18       10       14       21       42       10
gene6         1        3       13        2        0       14       10        6
gene7        80       19       20       41       24       29       34       47
gene8        33       54       46       44       28       33       66       18
gene9        23       41       50       36       66       28       48       35
gene10        9        4       13       11        9       13       10        7
       sample50 sample51 sample52 sample53 sample54 sample55 sample56 sample57
gene1         4       10       13       12        9        4        3        9
gene2        26       24       40       32       18       21       52       38
gene3         2        3        0       30        1        1        0        3
gene4       137      102      102       80       43      115       42      171
gene5        10       14       41       18       16       36       51       20
gene6         1        8        2        7        0        6        8        9
gene7        22       11       51       34       11       15       21       34
gene8        52       22       81       14       41       32       25       20
gene9        36       54       28       15       33       12       57       59
gene10       11        2       25        2       32        8       12       17
       sample58 sample59 sample60 sample61 sample62 sample63 sample64 sample65
gene1        36       14        3        5        2        8       16        4
gene2        40       21       30       15       54       17        7        7
gene3         0        2        4        1        3        5        3        4
gene4        51       89       90       72       26      134       89       70
gene5        61       42       44       30       54       34       30       27
gene6         9        4        0        4        0        6       11       17
gene7        17       30       30       40       57       15       22       10
gene8        40       37       19       48       57       45       28       27
gene9        65       24       33       16       29        6       43       58
gene10       42       29        3       21        6        7       13       11
       sample66 sample67 sample68 sample69 sample70 sample71 sample72 sample73
gene1        16       16        8        3       29       20        7        6
gene2        26       19       14       35       12        5       20       41
gene3         5        3        1        3        1        3       13        7
gene4        89       84       70      124       88       96       28      119
gene5        80       18       46       59       42       11       19        9
gene6         0       15       16        2        4        0        3        3
gene7        27       48       15       44       10       48       58       33
gene8        84       47       69       30       55       26       24       16
gene9        45       21       61       51       44       26       37       36
gene10       18        3       26        4       41        5       19       30
       sample74 sample75 sample76 sample77 sample78 sample79 sample80 sample81
gene1        10        8        5        5       10        9       25        5
gene2        61       27       13       13        7       40       36       34
gene3         1        3        1        1        4        0        1        7
gene4       101       88       27      149       48      102       61      203
gene5        17       14       41       13       47       16       46       42
gene6         6        7        2        1        3       12        3        1
gene7        86       23       24       63       27       15       57       60
gene8        63       36       29       86       60       38       31       12
gene9        21       36       37       42       34       38       21       30
gene10        8        3        7        2        8       30        4        3
       sample82 sample83 sample84 sample85 sample86 sample87 sample88 sample89
gene1         2        8       11       17        4        9       12       10
gene2        25       19       22        4       71       29       55       47
gene3         5        5        1        1        2        6        5        3
gene4        94      108      125       78       78       80       90       99
gene5        50       37       23       39       15       50       31       14
gene6         2        3       10        2        1        0        8        8
gene7        16       29       20       12       40       12       28       26
gene8        28       24       46       34       26       17       59       12
gene9        30       22       31       10       19       20       51       23
gene10        7       15        0        1       20        8        9       10
       sample90 sample91 sample92 sample93 sample94 sample95 sample96 sample97
gene1         5        0        9        5       27        2        7        1
gene2        11       31       43       13       12       24       26       14
gene3         1       11        4       12        0        1        3        3
gene4        87      119       86      112       89       73       67       71
gene5        33       50       41       21       86       31       11       33
gene6         0       10        0        3        0       12        4        5
gene7        41        4       20       31       18       27       41       19
gene8        27       28       32       22       39       33       44       42
gene9        22       15       45       24       72       67       54       25
gene10       39       13        1       31       28        4        1        4
       sample98 sample99 sample100
gene1        10       18        21
gene2        36       14         9
gene3         2        3         3
gene4        72       66        42
gene5        11       53        13
gene6         2       11        13
gene7        66       32        19
gene8        27       19        78
gene9        16       79        30
gene10        9       11         5

In [21]:
base.levels(f)

<rpy2.robjects.vectors.StrVector object at 0x175344290> [16]
R classes: ('character',)
['A', 'B']

In [19]:
# Create a model matrix using design's Target column using the R formula "~0 + f" to get all the unique factors as columns
f = base.factor(r_design.rx2('condition'), levels=base.unique(r_design.rx2('condition')))
form = Formula('~0 + f')
form.environment['f'] = f
r_design = stats.model_matrix(form) #create one-hot matrix
r_design.colnames = base.levels(f) # set column names to unique factors

In [232]:
d0 = edgeR.DGEList(r_data)
d0 = edgeR.calcNormFactors(d0)
y = limma.voom(d0, r_design)

In [233]:
y=y[1]
y = pd.DataFrame(y)
y

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,14.910211,12.571004,13.537209,12.467208,12.713702,11.164874,10.248896,13.441997,14.771443,15.284111,...,11.122322,14.908812,14.148508,15.996024,13.076084,14.913583,12.692114,15.496437,15.889057,16.686187
1,15.692620,17.461775,13.537209,15.274563,15.652301,15.252337,15.106877,16.405471,16.597414,14.598220,...,17.099602,17.103828,15.443963,14.858520,16.368866,16.734613,15.965132,17.293944,15.537585,15.507849
2,13.436280,13.307969,14.890846,13.204174,14.829179,13.486802,15.378179,15.643631,15.559939,14.162121,...,15.645884,13.830810,15.332932,10.214664,12.339119,13.814048,13.914506,13.426047,13.486958,14.067277
3,18.294261,17.974726,18.863140,18.533297,19.210888,17.354699,18.566309,18.038932,18.367294,18.373866,...,19.023189,18.095513,18.502857,17.698480,17.953829,18.083508,18.267023,18.284028,17.734886,17.669313
4,15.475809,15.509603,15.793549,17.357979,16.173133,16.892795,14.772458,16.405471,15.218902,16.224405,...,17.780534,17.035924,16.115341,17.649292,16.731436,15.530255,17.173240,15.627681,17.421071,16.014809
5,10.266355,15.378359,13.174639,15.130173,13.450667,13.972229,15.534299,13.441997,14.119366,10.074658,...,15.514640,10.660885,13.496431,10.214664,15.398012,14.176618,14.566583,13.426047,15.203165,16.014809
6,15.310749,18.125593,16.200175,16.715136,17.151107,17.354699,16.552677,17.495108,16.066899,16.051938,...,14.292247,16.018437,16.666356,15.424117,16.535516,17.381732,16.392553,18.159402,16.701971,16.545324
7,17.034540,17.008409,16.475809,15.926640,17.011382,17.574265,15.740750,18.503773,16.984437,16.788903,...,16.955212,16.683252,16.180929,16.518445,16.820245,17.482426,17.516542,16.885479,15.965006,18.554543
8,16.895712,17.831531,17.400707,16.948335,17.106019,17.574265,16.515683,17.659227,18.026257,16.303476,...,16.076519,17.168679,16.303786,17.394573,17.830972,17.774877,16.779577,16.148513,17.992486,17.190659
9,13.073710,15.233969,12.689213,15.130173,14.588171,16.294157,13.949336,15.763925,14.119366,14.466975,...,15.877210,12.245847,16.666356,16.047554,13.924081,12.591655,14.277076,15.352047,15.203165,14.719354

In [234]:
y.columns = data.columns
y

,sample1,sample2,sample3,sample4,sample5,sample6,sample7,sample8,sample9,sample10,...,sample91,sample92,sample93,sample94,sample95,sample96,sample97,sample98,sample99,sample100
0,14.910211,12.571004,13.537209,12.467208,12.713702,11.164874,10.248896,13.441997,14.771443,15.284111,...,11.122322,14.908812,14.148508,15.996024,13.076084,14.913583,12.692114,15.496437,15.889057,16.686187
1,15.692620,17.461775,13.537209,15.274563,15.652301,15.252337,15.106877,16.405471,16.597414,14.598220,...,17.099602,17.103828,15.443963,14.858520,16.368866,16.734613,15.965132,17.293944,15.537585,15.507849
2,13.436280,13.307969,14.890846,13.204174,14.829179,13.486802,15.378179,15.643631,15.559939,14.162121,...,15.645884,13.830810,15.332932,10.214664,12.339119,13.814048,13.914506,13.426047,13.486958,14.067277
3,18.294261,17.974726,18.863140,18.533297,19.210888,17.354699,18.566309,18.038932,18.367294,18.373866,...,19.023189,18.095513,18.502857,17.698480,17.953829,18.083508,18.267023,18.284028,17.734886,17.669313
4,15.475809,15.509603,15.793549,17.357979,16.173133,16.892795,14.772458,16.405471,15.218902,16.224405,...,17.780534,17.035924,16.115341,17.649292,16.731436,15.530255,17.173240,15.627681,17.421071,16.014809
5,10.266355,15.378359,13.174639,15.130173,13.450667,13.972229,15.534299,13.441997,14.119366,10.074658,...,15.514640,10.660885,13.496431,10.214664,15.398012,14.176618,14.566583,13.426047,15.203165,16.014809
6,15.310749,18.125593,16.200175,16.715136,17.151107,17.354699,16.552677,17.495108,16.066899,16.051938,...,14.292247,16.018437,16.666356,15.424117,16.535516,17.381732,16.392553,18.159402,16.701971,16.545324
7,17.034540,17.008409,16.475809,15.926640,17.011382,17.574265,15.740750,18.503773,16.984437,16.788903,...,16.955212,16.683252,16.180929,16.518445,16.820245,17.482426,17.516542,16.885479,15.965006,18.554543
8,16.895712,17.831531,17.400707,16.948335,17.106019,17.574265,16.515683,17.659227,18.026257,16.303476,...,16.076519,17.168679,16.303786,17.394573,17.830972,17.774877,16.779577,16.148513,17.992486,17.190659
9,13.073710,15.233969,12.689213,15.130173,14.588171,16.294157,13.949336,15.763925,14.119366,14.466975,...,15.877210,12.245847,16.666356,16.047554,13.924081,12.591655,14.277076,15.352047,15.203165,14.719354

In [235]:
import sys
 
# setting path
sys.path.append('../')
from helper_functions.PCA import PC_cluster

df_PCA = PC_cluster.PC_s(y, 100, design)

In [236]:
df_PCA

                PC1       PC2 label
sample1    0.513792  2.221827     A
sample2   -0.784411 -2.277083     A
sample3    1.902896  1.219162     A
sample4    0.401074 -1.187685     A
sample5    1.319955 -0.678955     A
...             ...       ...   ...
sample96  -0.115477 -0.292001     B
sample97   0.107602 -0.540829     B
sample98  -0.247923 -0.731064     B
sample99  -1.413403 -0.900077     B
sample100 -1.049270  0.762024     B

[100 rows x 3 columns]

In [118]:
# Fit the data to the design using lmFit from limma
fit = limma.lmFit(y, r_design)
# Make a contrasts matrix with the 1st and the last unique values
contrast_matrix = limma.makeContrasts(f"{r_design.colnames[0]}-{r_design.colnames[-1]}", levels=r_design)

In [119]:
# Fit the contrasts matrix to the lmFit data & calculate the bayesian fit
fit2 = limma.contrasts_fit(fit, contrast_matrix)
fit2 = limma.eBayes(fit2)

In [120]:
# topTreat the bayesian fit using the contrasts and add the genelist
r_output = limma.topTreat(fit2, coef=1, genelist=genes, number=np.Inf)
writexl.write_xlsx(r_output, "limma_output.xlsx")

<rpy2.robjects.vectors.StrVector object at 0x177e90910> [16]
R classes: ('character',)
['/Users/lili-la/AC_Lab/omicsprofiler/auto_example...]